[submodule ".vim/bundle/jacinto.vim"]
	path = .vim/bundle/jacinto.vim
	url = https://github.com/alfredodeza/jacinto.vim
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/bondsman.vim"]
	path = .vim/bundle/bondsman.vim
	url = https://github.com/alfredodeza/bondsman.vim
[submodule ".vim/bundle/coveragepy.vim"]
	path = .vim/bundle/coveragepy.vim
	url = https://github.com/alfredodeza/coveragepy.vim
[submodule ".vim/bundle/gist-vim"]
	path = .vim/bundle/gist-vim
	url = https://github.com/mattn/gist-vim
[submodule ".vim/bundle/jellybeans.vim"]
	path = .vim/bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim
[submodule ".vim/bundle/khuno.vim"]
	path = .vim/bundle/khuno.vim
	url = https://github.com/alfredodeza/khuno.vim
[submodule ".vim/bundle/mustache.vim"]
	path = .vim/bundle/mustache.vim
	url = https://github.com/juvenn/mustache.vim
[submodule ".vim/bundle/pytest.vim"]
	path = .vim/bundle/pytest.vim
	url = https://github.com/alfredodeza/pytest.vim
[submodule ".vim/bundle/vim-vinegar"]
	path = .vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule ".zsh"]
	path = .zsh
	url = https://github.com/robbyrussell/oh-my-zsh
