# c snippets
priority 10

snippet "^once" "ifndef include guard" r
#ifndef `!p fn_guard()`
#define `!p fn_guard()`

${0:${VISUAL}}

#endif // `!p fn_guard()`
endsnippet

# FIXME: there has to be a better way to do this  
snippet "^I (.*\.h)$" "system include" rA
#include <`!p snip.rv = match.group(1)`>
endsnippet

snippet "^i (.*\.h)$" "relative include" rA
#include "`!p snip.rv = match.group(1)`"
endsnippet

snippet def "define"
#define ${1:SYMBOL} (${2:value})
endsnippet

snippet (C) "copyright" b
// SPDX-License-Identifier: ${1:GPL-3.0}
// Copyright (C) ${2:Speedscale}
$0
endsnippet

global !p
def fn_guard():
    snip.rv = '__' + snip.fn.upper().replace('.', '_') + '__'
endglobal

# vi:ft=snippets:ts=4:sts=4:sw=4:et
